{% extends "templates/base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

    <form action="{% url 'posttambah_warta' %}" method="POST">
      {% csrf_token %}
      <h1>FORM TAMBAH WARTA</h1>
      <div class="form-group">
        <p>ID WARTA :</p>
        <input
        class="form-control"
          type="text"
          name="id_warta"
          id="id_warta"
          maxlength="10"
          required
        />
      </div>
      <div class="form-group">
        <p>JUDUL WARTA :</p>
        <input
        class="form-control"
          type="text"
          name="judul_warta"
          id="judul_warta"
          maxlength="100"
          required
        />
      </div>
      <div class="form-group">
        <p>ISI WARTA :</p>
        <input
        class="form-control"
          type="text"
          name="isi_warta"
          id="isi_warta"
          maxlength="500"
          required
        />
      </div>
      <p>TANGGAL :</p>
      <div class="form-group">
        <input class="form-control" type="date" name="tanggal_warta" id="tanggal_warta" required />
      </div>
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
