{% extends "base.html" %} {% block content %}

<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}
    <form
      action="{% url 'postupdate_warta' data_warta.id_warta %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h1>UPDATE DATA WARTA</h1>
      <div class="form-group">
        <p>ID WARTA:</p>
        <input
          class="form-control"
          type="text"
          name="id_warta"
          maxlength="50"
          id="id_warta"
          value="{{ data_warta.id_warta }}"
          readonly
        />
      </div>
      <div class="form-group">
        <p>JUDUL WARTA:</p>
        <input
          class="form-control"
          type="text"
          name="judul_warta"
          maxlength="100"
          id="judul_warta"
          value="{{ data_warta.judul_warta }}"
        />
      </div>
      <div class="form-group">
        <p>ISI WARTA:</p>
        <input
          class="form-control"
          type="text"
          name="isi_warta"
          maxlength="500"
          id="isi_warta"
          value="{{ data_warta.isi_warta }}"
          required
        />
      </div>
      <div class="form-group">
        <p>TANGGAL WARTA:</p>
        <input
        class="form-control"
          type="hidden"
          name="tanggal_warta"
          value="{{ data_warta.tanggal_warta|date:'Y-m-d' }}"
        />
        <input
          class="form-control"
          type="date"
          name="tanggal_warta"
          id="tanggal_warta"
          value="{{ data_warta.tanggal_warta|date:'Y-m-d' }}"
          required
        />
      </div>
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
