{% extends "templates/base.html" %} {% block content %}
<div class="container">
  <td>
    
    <a href="{% url 'tambah_warta'  %}" class="nav-link">
      <i class="nav-icon fas fa-plus"> TAMBAH WARTA</i>
     
    </a>
  </td>
  <br />
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID WARTA</th>
        <th>ISI WARTA</th>
        <th>TANGGAL</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for dw in data_warta %}
      <tr>
        <td>{{ dw.id_warta }}</td>
        <td>{{ dw.isi_warta }}</td>
        <td>{{ dw.tanggal_warta}}</td>

        <td class="">
          <a href="{% url 'update_warta' dw.id_warta %}">UPDATE|</a>      
          <a onclick="return confirm('Apakah anda ingin menghapus data ini?')" href="{% url 'delete_warta' dw.id_warta %}">DELETE</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
