{% extends "templates/base.html" %} {% block content %}

    {% if messages %} {% for message in messages %}
    <p class="alert alert-warning alert-dismissible fade show" role="alert"> {{ message }}</p>
    {% endfor %} {% endif %}

    <div class="card shadow-lg">
      <div class="card-header bg-teal">
        <div class="text-center">
          <h2>JENIS TUGAS IBADAH</h2>
        </div>
      </div>
      <div class="card-body" style="background-color: whitesmoke">
        
  <td>
    <a class="btn btn-info" href="{% url 'tambah_jenis_tugas_ibadah'  %}" class="nav-link">
      <i class="nav-icon fas fa-plus"> TAMBAH TUGAS IBADAH</i>
    </a>
  </td>

  <table id="example3" class="table table-bordered table-striped table-responsive text-center">
    <thead class="bg-secondary">
    <tr>
        <th class='col-1'>NOMOR URUT</th>
        <th class='col-2'>KODE JENIS TUGAS IBADAH</th>
        <th class='col-2'>KODE JENIS IBADAH</th>
        <th class='col-2'>JENIS IBADAH</th>
        <th class='col-2'>JENIS TUGAS IBADAH</th>
        <th class='col-3'>ACTION</th>
      </tr>
    </thead>
    <tbody>
        {% for dti in data_tugas_ibadah %}
        <tr  class="text-center">
  
        <td>{{ dti.nomor_urut }}</td>
        <td>{{ dti.kode_jenis_tugas_ibadah }}</td>
        <td>{{ dti.kode_jenis_ibadah.kode_jenis_ibadah }}</td>
        <td>{{ dti.kode_jenis_ibadah.nama_jenis_ibadah }}</td>
        <td>{{ dti.jenis_tugas_ibadah }}</td>

       <td class="">
          <a
            class="btn btn-warning"
            href="{% url 'update_jenis_tugas_ibadah' dti.kode_jenis_tugas_ibadah %}"
            ><i class="fas fa-pencil-alt"></i>UPDATE</a>
         <a
            class="btn btn-danger"
            onclick="return confirm('Apakah anda ingin menghapus data ini?')"
            href="{% url 'delete_jenis_tugas_ibadah' dti.kode_jenis_tugas_ibadah %}"
            ><i class="fas fa-trash"></i>DELETE</a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
