{% extends "templates/base.html" %} {% block content %}

    {% if messages %} {% for message in messages %}
    <p class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
    </p>
    {% endfor %} {% endif %}

    <div class="card shadow-lg">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h2>FORM TAMBAH TUGAS IBADAH</h2>
        </div>
      </div>
      <div class="card-body" style="background-color:whitesmoke">
    

    <form action="{% url 'post_jenis_tugas_ibadah' %}" method="POST">
      {% csrf_token %}
    
      {% comment %} <div class="form-group">
        <p>KODE JENIS TUGAS IBADAH</p>
        <input
          class="form-control"
          type="text"
          name="kode_jenis_tugas_ibadah"
          id="kode_jenis_tugas_ibadah"
          maxlength="50"
          required
        />
      </div> {% endcomment %}
      <div class="form-group">
        <p>KODE JENIS IBADAH</p>
        <select class="form-control" name="kode_jenis_ibadah" id="kode_jenis_ibadah">
            <option value="" disabled selected> --pilih-- </option>
            {% for di in data_ibadah %}
                <option value="{{ di.kode_jenis_ibadah }}">{{ di.kode_jenis_ibadah }}|{{di.nama_jenis_ibadah}}</option>
            {% endfor %}
        </select
          required
        />
      </div>
      <div class="form-group">
        <p>NOMOR URUT</p>
        <input
          class="form-control"
          type="number"
          name="nomor_urut"
          id="nomor_urut"
          maxlength="225"
          required
        />
      </div>
      <div class="form-group">
        <p>JENIS TUGAS IBADAH :</p>
        <input
          class="form-control"
          name="jenis_tugas_ibadah"
          id="jenis_tugas_ibadah"
          maxlength="100"
          required
        />
      </div>
      
      <br />
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
