{% extends "base.html" %} {% block content %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <p class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
  </p>
  {% endfor %} {% endif %}

  <td>
    <a class="btn btn-info" href="{% url 'tambah_khotbah'  %}" class="nav-link">
      <i class="nav-icon fas fa-plus"> TAMBAH KHOTBAH</i>
    </a>
  </td>
  <br />
  <br />
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID KHOTBAH</th>
        <th>JUDUL KHOTBAH</th>
        <th>AYAT KHOTBAH</th>
        <th>ISI KHOTBAH</th>
        <th>TANGGAL</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for dk in data_khotbah %}
      <tr>
        <td>{{ dk.id_khotbah }}</td>
        <td>{{ dk.judul_khotbah }}</td>
        <td>{{ dk.ayat_khotbah }}</td>
        <td>{{ dk.isi_khotbah }}</td>
        <td>{{ dk.tanggal}}</td>

        <td class="">
          <a
            class="btn btn-warning"
            href="{% url 'update_khotbah' dk.id_khotbah %}"
            >UPDATE</a
          >|
          <a
            class="btn btn-danger"
            onclick="return confirm('Apakah anda ingin menghapus data ini?')"
            href="{% url 'delete_khotbah' dk.id_khotbah %}"
            >DELETE</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
