{% extends "templates/base.html" %} {% block content %}
{% if messages %} {% for message in messages %}
<p class="alert alert-warning alert-dismissible fade show" role="alert"> {{ message }}</p>
{% endfor %} {% endif %}
<div class="card shadow-lg">
  <div class="card-body">
      <div class="card-header bg-teal">
        <div class="text-center">
          <h2>DATA KHOTBAH</h2>
        </div>
      </div>
   
  <div class="card-body">
    <td>
      <a class="btn btn-info" href="{% url 'tambah_khotbah'  %}" class="nav-link">
        <i class="nav-icon fas fa-plus"> TAMBAH KHOTBAH</i>
      </a>
    </td>
    <br>
    <br>
    <table id="example1" class="table table-bordered table-striped table-responsive text-center">
      <thead class="bg-secondary">
      <tr>
        <th>ID </th>
        <th class="col-2">JUDUL KHOTBAH</th>
        <th class="col-1">AYAT KHOTBAH</th>
        <th class="col-3">ISI KHOTBAH</th>
        <th class="col-2">TANGGAL</th>
        <th class="col-4">ACTION</th>
      </tr>
      </thead>
      <tbody style="background-color: whitesmoke;">
        {% for dk in data_khotbah %}
        <tr>
          <td>{{ dk.id_khotbah }}</td>
          <td class="text-left">{{ dk.judul_khotbah }}</td>
          <td class="text-left">{{ dk.ayat_khotbah }}</td>
          <td class="text-left">{{ dk.isi_khotbah }}</td>
          <td>{{ dk.tanggal}}</td>
  
          <td>
            <a class="btn btn-warning" href="{% url 'update_khotbah' dk.id_khotbah %}">
              <i class="fas fa-pencil-alt"></i>UPDATE</a>
            <a class="btn btn-danger"
              onclick="return confirm('Apakah anda ingin menghapus data ini?')"
              href="{% url 'delete_khotbah' dk.id_khotbah %}">
               <i class="fas fa-trash"></i>DELETE</a> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    
    </table>
  </div>
  <!-- /.card-body -->
</div>
{% endblock %}