<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'posttambah_khotbah' %}"method="POST">
        {% csrf_token %}
        <h1>FORM TAMBAH WARTA</h1>
        
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        <P>ID KHOTBAH :</P>
        <input type="text" name="id_khotbah" id="id_khotbah" maxlength="10" required>
        <P>ISI KHOTBAH :</P>
        <input type="text" name="isi_khotbah" id="isi_khotbah" maxlength="500" required>
        <P>TANGGAL :</P>
        <input type="date" name="tanggal" id="tanggal"  required>
        <br>
        <br>
        <button type="submit">Simpan</button>
    </form>
</body>
</html>