{% extends "templates/base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

    <form action="{% url 'posttambah_khotbah' %}"method="POST">
        {% csrf_token %}
        <h1>FORM TAMBAH KHOTBAH</h1>
        <div class="form-group">
        <P>ID KHOTBAH :</P>
        <input class="form-control"  type="text" name="id_khotbah" id="id_khotbah" maxlength="10" required>
        </div>
        <div class="form-group">
        <P>ISI KHOTBAH :</P>
        <input class="form-control"  type="text" name="isi_khotbah" id="isi_khotbah" maxlength="500" required>
        </div>
        <div class="form-group">
        <P>TANGGAL :</P>
        <input class="form-control"  type="date" name="tanggal" id="tanggal"  required>
        </div>
        <br>
        <br>
        <button class="btn btn-success" type="submit">Simpan</button>
    </form>
</div>
</div>
{% endblock %}
