{% extends "base.html" %} {% block content %}

<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}
    <form
      action="{% url 'postupdate_khotbah' data_khotbah.id_khotbah %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-group">
        <p>ID KHOTBAH :</p>
        <input
          class="form-control"
          type="text"
          name="id_khotbah"
          maxlength="50"
          id="id_khotbah"
          value="{{ data_khotbah.id_khotbah }}"
          readonly
        />
      </div>
      <div class="form-group">
        <p>JUDUL KHOTBAH</p>
        <input class="form-control" type="text" name="judul_khotbah"
          id="judul_khotbah" maxlength="500" required value="{{ data_khotbah.judul_khotbah }}">
      </div>
      <div class="form-group">
        <p>AYAT KHOTBAH</p>
        <input class="form-control" type="text" name="ayat_khotbah" id="ayat_khotbah"
          maxlength="225" required value="{{ data_khotbah.ayat_khotbah }}" />
      </div>
      <div class="form-group">
        <p>ISI KHOTBAH:</p>
        <textarea class="form-control"
        type="text"
        name="isi_khotbah"
        maxlength="1000"
        id="isi_khotbah"
        required>{{ data_khotbah.isi_khotbah }}</textarea>
      </div>
      <div class="form-group">
        <p>TANGGAL :</p>
        <input
          class="form-control"
          type="date"
          name="tanggal"
          id="tanggal"
          value="{{ data_khotbah.tanggal|date:'Y-m-d' }}"
          required
        />
      </div>

      <br />
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
