{% extends "templates/base.html" %} {% block content %}

<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}


    <form action="{% url 'post_pengurus_jemaat' %}" method="POST">
      {% csrf_token %}
      <h1>FORM TAMBAH PENGURUS JEMAAT</h1>
      <div class="form-group">
        <p>PERIODE :</p>
        <input
        class="form-control"
          type="text"
          name="periode"
          id="periode"
          maxlength="10"
          required
        />
      </div>
      <div class="form-group">
        <p>KODE ORGANISASI JEMAAT :</p>
        <select class="form-control" name="kode_org_jemaat" id="kode_org_jemaat">
            <option value="" disabled selected> --pilih-- </option>
            {% for do in data_orjem %}
                <option value="{{ do.kode_org_jemaat }}">{{ do.kode_org_jemaat }}|{{do.jabatan_org_jemaat}}</option>
            {% endfor %}
        </select
        required>
    </div>    
      <div class="form-group">
        <p>KODE JEMAAT :</p>
        <select class="form-control" name="kode_jemaat" id="kode_jemaat">
            <option value="" disabled selected> --pilih-- </option>
            {% for dj in datajemaat %}
              {% if dj.kode_jemaat not in data_jemaat_penggurus %}
                <option value="{{ dj.kode_jemaat }}">{{ dj.kode_jemaat }} / {{ dj.nama_jemaat }}</option>
              {% endif %}
            {% endfor %}
        </select
        required>
      </div>
      
      <p>KEMAJELISAN :</p>
      <input
      class="form-control"
        type="text"
        name="kemajelisan"
        id="kemajelisan"
        maxlength="10"
        required
      />
    </div>
    </div>
      
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>



{% endblock %}
