{% extends "templates/base.html" %} {% block content %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <p class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
  </p>
  {% endfor %} {% endif %}
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>NAMA PENDETA</th>
        <th>FOTO PENDETA</th>
        <th>VISI</th>
        <th>MISI</th>
        <th>JADWAL</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for gj in gereja %}
      <tr>
        <td>{{ gj.namapendeta }}</td>
        <td>
          <img style="width: 200px" src="{{ gj.fotopendeta }}" alt="" />
        </td>
        <td>{{ gj.visi }}</td>
        <td>{{ gj.misi }}</td>
        <td>{{ gj.jadwal }}</td>

        <td>
          <a
            class="btn btn-warning"
            href="{% url 'updateprofilpendeta' gj.id %}"
            >UPDATE</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
