{% extends "templates/base.html" %} {% block content %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <p class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
  </p>
  {% endfor %} {% endif %}
  <div class="card shadow-lg">
    <div class="card-header bg-teal">
      <div class="text-center">
        <h2>PROFIL</h2>
      </div>
    </div>
    <div class="card-body" style="background-color:whitesmoke">
      <table class="table table-bordered table-hover table-responsive text-center">
        <thead style="background-color: #5f5b5b;">
            <tr style="color: white;" >
        <th>NAMA PENDETA</th>
        <th>FOTO PENDETA</th>
        <th>TELEPON PENDETA</th>
        <th>EMAIL PENDETA</th>
        <th>PENDIDIKAN PENDETA</th>
        <th>VISI</th>
        <th>MISI</th>
        <th>JADWAL</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for gj in gereja %}
      <tr>
        <td>{{ gj.namapendeta }}</td>
        <td>
          <img style="width: 200px" src="{{ gj.fotopendeta }}" alt="" />
        </td>
        <td>{{ gj.tlpn_pendeta }}</td>
        <td>{{ gj.email_pendeta }}</td>
        <td>{{ gj.pendidikan_pendeta }}</td>
        <td  class="text-left">{{ gj.visi }}</td>
        <td  class="text-left">{{ gj.misi }}</td>
        <td>{{ gj.jadwal }}</td>

        <td>
          <a
            class="btn btn-warning"
            href="{% url 'updateprofilpendeta' gj.id %}"
            >
            <i class="fas fa-pencil-alt"></i>UPDATE</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
