{% extends "templates/base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

    <form action="{% url 'postprofil_pendeta' %}" method="POST"  enctype="multipart/form-data">
      {% csrf_token %}
      <h1>FORM TAMBAH PENDETA</h1>
      <div class="form-group">
            <p>NAMA PENDETA :</p>
              <input
              class="form-control" 
                type="text"
                name="namapendeta"
                id="namapendeta"
                maxlength="500"
                required
              />
      </div>
      <div class="form-group">
        <p>FOTO PENDETA :</p>
        <input
            class="form-control"
            type="file"
            alt=""
            name="fotopendeta"
            id="fotopendeta"
            accept=".jpg, .jpeg, .png"
            required
        />
    </div>
    
      <div class="form-group">
            <p>TELEPON PENDETA :</p>
                <input
                class="form-control"
                type="number"
                alt=""
                name="tlpn_pendeta"
                id="tlpn_pendeta"
                maxlength ="15"
                required
              />
      </div>
      <div class="form-group">
            <p>EMAIL PENDETA :</p>
                <input
                class="form-control"
                type="email"
                alt=""
                name="email_pendeta"
                id="email_pendeta"
                maxlength ="30"
                required
              />
      </div>
      <div class="form-group">
        <p>PENDIDIKAN PENDETA :</p>
        <input
          class="form-control"
          type="text"
          name="pendidikan_pendeta"
          maxlength="50"
          id="pendidikan_pendeta"
          required
        />
      <div class="form-group">
            <p>VISI :</p>
              <textarea
              class="form-control" 
                name="visi"
                id="visi"
                maxlength="500"
                required>
              </textarea>
          </div>
           <div class="form-group">
            <p>MISI :</p>
           
              <textarea
              class="form-control" 
                type="textarea"
                name="misi"
                id="misi"
                maxlength="500"
                required>
           </textarea>
            </div>
            <div class="form-group">
            <p>JADWAL :</p>
           
              <input
              class="form-control" 
                type="text"
                name="jadwal"
                id="jadwal"
                maxlength="50"
                required
              />
         </div>
      <br />
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
  </div>
  {% endblock %}
