{% extends "base.html" %} {% block content %}

<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}
    <form
      action="{% url 'postupdateprofilpendeta' datapendeta.id %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h1>UPDATE DATA PENDETA</h1>
      <div class="form-group">
        <p>NAMA PENDETA :</p>
        <input
          class="form-control"
          type="text"
          name="namapendeta"
          maxlength="50"
          id="namapendeta"
          value="{{ datapendeta.namapendeta }}"
          required
        />
      </div>
      <div class="form-group">
        <p>FOTO PENDETA :</p>
        <img src="{{ datapendeta.fotopendeta.url }}" alt="">
                <input class="form-control" type="file" name="fotopendeta" id="fotopendeta"
                required>
      </div>
      <div class="form-group">
        <p>VISI :</p>
        <input
          class="form-control"
          type="text"
          name="visi"
          maxlength="50"
          id="visi"
          value="{{ datapendeta.visi }}"
          required
        />
      </div>
      <div class="form-group">
        <p>MISI :</p>
        <input
          class="form-control"
          type="text"
          name="misi"
          maxlength="50"
          id="misi"
          value="{{ datapendeta.misi }}"
          required
        />
      </div>
      <div class="form-group">
        <p>JADWAL :</p>
        <input
          class="form-control"
          type="text"
          name="jadwal"
          maxlength="50"
          id="jadwal"
          value="{{ datapendeta.jadwal }}"
          required
        />
      </div>
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
