{% extends "base.html" %} {% block content %}

<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}
    <form
      action="{% url 'postupdateprofilpendeta' datapendeta.id %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h1>UPDATE DATA PENDETA</h1>
      <div class="form-group">
        <p>NAMA PENDETA :</p>
        <input
          class="form-control"
          type="text"
          name="namapendeta"
          maxlength="50"
          id="namapendeta"
          value="{{ datapendeta.namapendeta }}"
          required
        />
      </div>
      <div class="form-group">
        <p>FOTO PENDETA :</p>
        <img style="width: 300px;" src="{{ datapendeta.fotopendeta.url }}" alt="">
                <input class="form-control" type="file" name="fotopendeta" id="fotopendeta"
                required>
      </div>
      <div class="form-group">
        <p>TELEPON PENDETA :</p>
        <input
          class="form-control"
          type="number"
          name="tlpn_pendeta"
          maxlength="50"
          id="tlpn_pendeta"
          value="{{ datapendeta.tlpn_pendeta }}"
          required
        />
      </div>
      <div class="form-group">
        <p>EMAIL PENDETA :</p>
        <input
          class="form-control"
          type="text"
          name="email_pendeta"
          maxlength="50"
          id="email_pendeta"
          value="{{ datapendeta.email_pendeta }}"
          required
        />
      </div>
      <div class="form-group">
        <p>PENDIDIKAN PENDETA :</p>
        <input
          class="form-control"
          type="text"
          name="pendidikan_pendeta"
          maxlength="50"
          id="pendidikan_pendeta"
          value="{{ datapendeta.pendidikan_pendeta }}"
          required
        />
      </div>
      <div class="form-group">
        <p>VISI :</p>
        <textarea class="form-control"
        type="text"
        name="visi"
        maxlength="500"
        id="visi"
        required>{{ datapendeta.visi }}</textarea>
      </div>
      <div class="form-group">
        <p>MISI :</p>
        <textarea class="form-control"
        type="text"
        name="misi"
        maxlength="500"
        id="misi"
        required>{{ datapendeta.misi }}</textarea>
      </div>
      <div class="form-group">
        <p>JADWAL :</p>
        <input
          class="form-control"
          type="text"
          name="jadwal"
          maxlength="50"
          id="jadwal"
          value="{{ datapendeta.jadwal }}"
          required
        />
      </div>
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
