{% extends "templates/base.html" %} {% block content %}

{% if messages %} {% for message in messages %}
<p class="alert alert-warning alert-dismissible fade show" role="alert"> {{ message }}</p>
{% endfor %} {% endif %}


    <div class="card shadow-lg">
      <div class="card-header bg-teal">
        <div class="text-center">
          <h2>DATA DOKUMENTASI</h2>
        </div>
      </div>
      <div class="card-body" style="background-color: whitesmoke">
  
  <td>
    <a class="btn btn-info" href="{% url 'tambah_dokumentasi'  %}" class="nav-link">
      <i class="nav-icon fas fa-plus"> TAMBAH DOKUMENTASI</i>
    </a>
  </td>
  <br />
  <br />
  <table id="example1" class="table table-bordered table-striped table-responsive text-center">
    <thead class="bg-secondary">
    <tr>
        <th class="col-1">ID </th>
        <th class="col-1">FOTO</th>
        <th class="col-1">NAMA KEGIATAN</th>
        <th class="col-1">TANGGAL</th>
        <th class="col-1">KETERANGAN</th>
        <th class="col-6">ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for dok in data_dokumentasi %}
      <tr>
        <td>{{ dok.id_dokumentasi }}</td>
        <td >   
         <img style="width: 200px;" src="{{ dok.foto_dokumentasi }}" alt="">
        </td>
        <td>{{ dok.nama_kegiatan}}</td>
        <td>{{ dok.tanggal_kegiatan}}</td>
        <td>{{ dok.keterangan_kegiatan}}</td>

        <td class="">
         <a class="btn btn-warning" href="{% url 'update_dokumentasi' dok.id_dokumentasi %}">
          <i class="fas fa-pencil-alt"></i>UPDATE</a>      
         <a class="btn btn-danger" onclick="return confirm('Apakah anda ingin menghapus data ini?')" href="{% url 'delete_dokumentasi' dok.id_dokumentasi %}">
          <i class="fas fa-trash-alt"></i>DELETE</a> 
         
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
