{% extends "base.html" %} {% block content %}

    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

    
    <div class="card shadow-lg">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h2>UPDATE KOLEKTE</h2>
        </div>
      </div>
      <div class="card-body" style="background-color:whitesmoke">

    <form
      action="{% url 'postupdate_kolekte' data_kolekte.id %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-group">
        <p>ID IBADAH:</p>
        <select class="form-control" name="id_ibadah" id="id_ibadah" required>
          {% for dj in data_jadwal %}
              <option value="{{ dj.id_ibadah }}"
                  {% if dj.id_ibadah == data_kolekte.id_ibadah.id_ibadah %} selected {% endif %}>
                  {{ dj.id_ibadah }}|{{dj.kode_jenis_ibadah.nama_jenis_ibadah}}|{{dj.tanggal_ibadah|date:"l, d F Y"}}
              </option>
          {% endfor %}
          readonly
      </select>
      
      </div>
      <div class="form-group">
        <p>KODE JENIS PERSEMBAHAN:</p>
        <select class="form-control" name="kode_jenis_persembahan" id="kode_jenis_persembahan" required>
          {% for djk in data_jkolekte %}
              <option value="{{ djk.kode_jenis_persembahan }}"
                  {% if djk.kode_jenis_persembahan == data_kolekte.kode_jenis_persembahan.kode_jenis_persembahan %} selected {% endif %}>
                  {{ djk.kode_jenis_persembahan }}|{{ djk.nama_jenis_persembahan }}
              </option>
          {% endfor %}
      </select>
      
      </div>
   
      <div class="form-group">
        <p>JUMLAH PERSEMBAHAN:</p>
        <input
          class="form-control"
          type="number"
          name="jumlah_persembahan"
          maxlength="100"
          id="jumlah_persembahan"
          value="{{ data_kolekte.jumlah_persembahan }}"
          required
        />
      </div>
      
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}

