{% extends "templates/base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
    </p>
    {% endfor %} {% endif %}

    <form action="{% url 'post_petugas_ibadah' %}" method="POST">
      {% csrf_token %}
      <h1>FORM TAMBAH PETUGAS IBADAH</h1>
    
      <div class="form-group">
        <p>ID IBADAH</p>
        <select class="form-control" name="id_ibadah" id="id_ibadah">
            <option value="" disabled selected> --pilih-- </option>
            {% for dj in data_jadwal %}
                <option value="{{ dj.id_ibadah }}">{{ dj.id_ibadah }}|{{dj.kode_jenis_ibadah.nama_jenis_ibadah}}</option>
            {% endfor %}
        </select
          required
        />
      </div>
      <div class="form-group">
        <p>KODE JENIS TUGAS IBADAH</p>
        <select class="form-control" name="kode_jenis_tugas_ibadah" id="kode_jenis_tugas_ibadah">
            <option value="" disabled selected> --pilih-- </option>
            {% for di in data_tugas_ibadah %}
                <option value="{{ di.kode_jenis_tugas_ibadah }}">{{ di.kode_jenis_tugas_ibadah }}|{{di.jenis_tugas_ibadah}}</option>
            {% endfor %}
        </select
          required
        />
      </div>
      <div class="form-group">
        <p>KODE JEMAAT :</p>
        <select class="form-control" name="kode_jemaat" id="kode_jemaat">
            <option value="" disabled selected> --pilih-- </option>
            {% for dje in datajemaat %}
                <option value="{{ dje.kode_jemaat }}">{{ dje.kode_jemaat }}|{{dje.nama_jemaat}}</option>
            {% endfor %}
        </select
          required
        />
      </div>
      <div class="form-group">
        <p>NOMOR URUT :</p>
        <input
          class="form-control"
          name="nomor_urut"
          id="nomor_urut"
          maxlength="100"
          required
        />
      </div>
      
      <br />
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
