{% extends "templates/base.html" %} {% block content %}
{% if messages %} {% for message in messages %}
<p class="alert alert-warning alert-dismissible fade show" role="alert"> {{ message }}</p>
{% endfor %} {% endif %}


    <div class="card shadow-lg">
      <div class="card-header bg-teal">
        <div class="text-center">
          <h2>JENIS IBADAH</h2>
        </div>
      </div>
      <div class="card-body" style="background-color: whitesmoke">

  <td>
    <a class="btn btn-info" href="{% url 'tambah_jenis_ibadah'  %}" class="nav-link">
      <i class="nav-icon fas fa-plus"> TAMBAH JENIS IBADAH</i>
    </a>
  </td>
   <table  id="example3"  class="table table-bordered table-striped table-hover">
    <thead  class="bg-secondary">
      <tr  class="text-center">
        <th>KODE JENIS IBADAH</th>
        <th>NAMA JENIS IBADAH</th>
        <th>PERIODE</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for di in data_ibadah %}
      <tr  class="text-center">
        <td>{{ di.kode_jenis_ibadah }}</td>
        <td class="text-left">{{ di.nama_jenis_ibadah }}</td>
        <td>{{ di.periode }}</td>

        <td class="">
          <a
            class="btn btn-warning"
            href="{% url 'update_jenis_ibadah' di.kode_jenis_ibadah %}"
            ><i class='fas fa-pencil-alt' ></i> UPDATE</a>
        <a
            class="btn btn-danger"
            onclick="return confirm('Apakah anda ingin menghapus data ini?')"
            href="{% url 'delete_jenis_ibadah' di.kode_jenis_ibadah %}"
            ><i class='fas fa-trash' ></i>DELETE</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
