{% extends "templates/base.html" %} {% block content %}

    {% if messages %} {% for message in messages %}
    <p class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
    </p>
    {% endfor %} {% endif %}

        <div class="card shadow-lg">
          <div class="card-header bg-primary">
            <div class="text-center">
              <h2>FORM TAMBAH IBADAH</h2>
            </div>
          </div>
          <div class="card-body" style="background-color:whitesmoke">
        

    <form action="{% url 'post_jenis_ibadah' %}" method="POST">
      {% csrf_token %}
    
      {% comment %} <div class="form-group">
        <p>KODE JENIS IBADAH</p>
        <input
          class="form-control"
          type="text"
          name="kode_jenis_ibadah"
          id="kode_jenis_ibadah"
          maxlength="50"
          required
        />
      </div> {% endcomment %}
      <div class="form-group">
        <p>NAMA JENIS IBADAH</p>
        <input
          class="form-control"
          type="text"
          name="nama_jenis_ibadah"
          id="nama_jenis_ibadah"
          maxlength="225"
          required
        />
      </div>
      <div class="form-group">
        <p>PERIODE :</p>
        <input
          class="form-control"
          name="periode"
          id="periode"
          maxlength="100"
          required
        />
      </div>
      
      <br />
      <br />
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
