{% extends "templates/base.html" %} {% block content %}

    {% if messages %} {% for message in messages %}
    <p class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
    </p>
    {% endfor %} {% endif %}

    <div class="card shadow-lg">
      <div class="card-header bg-teal">
        <div class="text-center">
          <h2>JADWAL IBADAH</h2>
        </div>
      </div>
      <div class="card-body" style="background-color: whitesmoke">

        <a class="btn btn-info" href="{% url 'tambah_jadwal_ibadah' %}" class="nav-link">
          <i class="nav-icon fas fa-plus"></i> TAMBAH JADWAL IBADAH
        </a>
        
        <table id="example3" class="table table-bordered table-striped  text-center">
          <thead class="bg-secondary">
          <tr>
              <th>JENIS IBADAH</th>
              <th class="col-2">id</th>
              <th>TANGGAL IBADAH</th>
              <th>JAM IBADAH</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            {% for di in data_jadwal %}
            <tr class="text-center">
              <td class="text-left">{{ di.kode_jenis_ibadah.nama_jenis_ibadah }}</td>
              <td>{{ di.id_ibadah }}</td>
              <td class="text-left">{{ di.tanggal_ibadah|date:"l, d F Y"  }}</td>
              <td>{{ di.jam_ibadah }}</td>
              <td>
                <a class="btn btn-warning" href="{% url 'update_jadwal_ibadah' di.id_ibadah %}">
                  <i class="fas fa-pencil-alt"></i> UPDATE
                </a>
                <a
                  class="btn btn-danger"
                  onclick="return confirm('Apakah anda ingin menghapus data ini?')"
                  href="{% url 'delete_jadwal_ibadah' di.id_ibadah %}">
                  <i class="fas fa-trash"></i> DELETE</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endblock %}
    