{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <p class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}</p>
  {% endfor %}
  {% endif %}
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>NAMA GEREJA</th>
                <th>ALAMAT GEREJA</th>
                <th>TELEPON GEREJA</th>
                <th>TANGGAL BERDIRI</th>
                <th>TEMA</th>
                <th>AYAT EMAS</th>
                <th>ISI AYAT EMAS</th>
                <th>AKSI</th>
            </tr>
        </thead>
        <tbody>
          {% for dt in databeranda %}
          <tr>
            <td>{{ dt.namagereja }}</td>
            <td>{{ dt.alamatgereja }}</td>
            <td>{{ dt.telepongereja }}</td>
            <td>{{ dt.tanggalberdiri }}</td>
            <td>{{ dt.tema }}</td>
            <td>{{ dt.ayatemas }}</td>
            <td>{{ dt.isi_ayatemas }}</td>
            <td>
              <a class="btn btn-warning" href="{% url 'updateberanda' dt.id %}">UPDATE</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        
    </table>
</div>
{% endblock %}
