{% extends "base.html" %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            display: block;
          margin-left: auto;
          margin-right: auto; 
        }
    </style>
</head>

<body>
    <h1 style="text-align: center; font-family:'Courier New', Courier, monospace; font-weight: bold">Selamat Datang Di</h1>
    <h1 style="text-align: center; font-family:'Courier New', Courier, monospace; font-weight: bold">Website Gereja Kristen Jawa</h1>
    <h1 style="text-align: center; font-family:'Courier New', Courier, monospace; font-weight: bold">PPL Kelompok 2</h1>
    <img width="400px" src="/static/dist/img/logo-gkj.png" alt="">
</body>

</html>
    
{% endblock %} 