<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'postberanda' %}"method="POST">
        {% csrf_token %}
        <h1>FORM TAMBAH BERANDA</h1>
        
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        <P>TEMA :</P>
        <input type="text" name="tema" id="tema" maxlength="100" required>
        <P>NAMA GEREJA :</P>
        <input type="text" name="namagereja" id="namagereja" maxlength="500" required>
        <P>ALAMAT GEREJA :</P>
        <input type="text" name="alamatgereja" id="alamatgereja" maxlength="500" required>
        <P>TELEPON GEREJA :</P>
        <input type="number" name="telepongereja" id="telepongereja" maxlength="15" required>
        <P>TANGGAL BERDIRI :</P>
        <input type="date" name="tanggalberdiri" id="tanggalberdiri"  required>
        <P>AYAT EMAS :</P>
        <input type="text" name="ayatemas" id="ayatemas" maxlength="500" required>
        <br>
        <br>
        <button type="submit">Simpan</button>
    </form>
</body>
</html>