{% extends "templates/base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

    <form action="{% url 'postberanda' %}" method="POST">
      {% csrf_token %}
      <h1>FORM TAMBAH BERANDA</h1>
      <div class="form-group">
        <p>TEMA :</p>
        <input  class="form-control" type="text" name="tema" id="tema" maxlength="100" required />
      </div>
      <div class="form-group">
        <p>NAMA GEREJA :</p>
        <input
        class="form-control"
          type="text"
          name="namagereja"
          id="namagereja"
          maxlength="500"
          required
        />
      </div>
      <div class="form-group">
        <p>ALAMAT GEREJA :</p>
        <input
        class="form-control"
          type="text"
          name="alamatgereja"
          id="alamatgereja"
          maxlength="500"
          required
        />
      </div>
      <div class="form-group">
        <p>TELEPON GEREJA :</p>
        <input
        class="form-control"
          type="number"
          name="telepongereja"
          id="telepongereja"
          maxlength="15"
          required
        />
      </div>
      <div class="form-group">
        <p>TANGGAL BERDIRI :</p>
        <input  class="form-control" type="date" name="tanggalberdiri" id="tanggalberdiri" required />
      </div>
      <div class="form-group">
        <p>AYAT EMAS :</p>
        <input
        class="form-control"
          type="text"
          name="ayatemas"
          id="ayatemas"
          maxlength="500"
          required
        />
      </div>
      <br/>
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
