{% extends "templates/base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    <div class="card shadow-lg">
      <div class="card-header bg-primary">
        <div class="text-center">
          <h2>FORM TAMBAH BERANDA</h2>
        </div>
      </div>
      <div class="card-body" style="background-color:whitesmoke">
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

    <form action="{% url 'postberanda' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <p>TEMA :</p>
        <input  class="form-control" type="text" name="tema" id="tema" maxlength="100" required />
      </div>
      <div class="form-group">
        <p>NAMA GEREJA :</p>
        <input
        class="form-control"
          type="text"
          name="namagereja"
          id="namagereja"
          maxlength="500"
          required
        />
      </div>
      <div class="form-group">
        <p>ALAMAT GEREJA :</p>
        <input
        class="form-control"
          type="text"
          name="alamatgereja"
          id="alamatgereja"
          maxlength="500"
          required
        />
      </div>
      <div class="form-group">
        <p>TELEPON GEREJA :</p>
        <input
        class="form-control"
          type="number"
          name="telepongereja"
          id="telepongereja"
          maxlength="15"
          required
        />
      </div>
      <div class="form-group">
        <p>EMAIL GEREJA :</p>
        <input
        class="form-control"
          type="email"
          name="emailgereja"
          id="emailgereja"
          maxlength="50"
          required
        />
      </div>
      <div class="form-group">
        <p>TANGGAL BERDIRI :</p>
        <input  class="form-control" type="date" name="tanggalberdiri" id="tanggalberdiri" required />
      </div>
      <div class="form-group">
        <p>AYAT EMAS :</p>
        <input
        class="form-control"
          type="text"
          name="ayatemas"
          id="ayatemas"
          maxlength="500"
          required
        />
      </div>
      <div class="form-group">
        <p>ISI AYAT EMAS :</p>
        <textarea
        class="form-control"
          type="text"
          name="isi_ayatemas"
          id="isi_ayatemas"
          maxlength="500"
          required>
      </textarea>
      </div>
      <br/>
      <button class="btn btn-success" type="submit">Simpan</button>
    </form>
  </div>
</div>
{% endblock %}
