{% extends "base.html" %} {% block content %}

    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}

        <div class="card">
          <div class="card-body">
            <div class="card shadow-lg">
              <div class="card-header bg-primary">
                <div class="text-center">
                  <h2>UPDATE DATA BERANDA</h2>
                </div>
              </div>
              <div class="card-body" style="background-color:whitesmoke">    

    <form action="{% url 'postupdate_beranda' databeranda.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
       <p>NAMA GEREJA:</p>
        <input
          class="form-control"
          type="text"
          name="namagereja"
          maxlength="50"
          id="namagereja"
          value="{{ databeranda.namagereja }}"
          required
        />
      </div>
      <div class="form-group">
        <p>ALAMAT GEREJA :</p>
        <input
          class="form-control"
          type="text"
          name="alamatgereja"
          id="alamatgereja"
          maxlength="50"
          value="{{ databeranda.alamatgereja}}"
          required
        />
      </div>
      <div class="form-group">
        <p>TELEPON GEREJA :</p>
        <input
          class="form-control"
          type="number"
          name="telepongereja"
          id="telepongereja"
          maxlength="255"
          value="{{ databeranda.telepongereja}}"
          required
        />
      </div>
      <div class="form-group">
        <p>EMAIL GEREJA :</p>
        <input
          class="form-control"
          type="email"
          name="emailgereja"
          id="emailgereja"
          maxlength="50"
          value="{{ databeranda.emailgereja}}"
          required
        />
      </div>
      <div class="form-group">
        <p>TANGGGAL BERDIRI :</p>
        <!-- Tambahkan input tersembunyi untuk menyimpan tanggal berdiri yang ada -->
        <input
          type="hidden"
          name="tanggalberdiri_existing"
          value="{{ databeranda.tanggalberdiri|date:'Y-m-d' }}"
        />
        <input
          class="form-control"
          type="date"
          name="tanggalberdiri"
          id="tanggalberdiri"
          value="{{ databeranda.tanggalberdiri|date:'Y-m-d' }}"
          required
        />
      </div>

      <div class="form-group">
        <p>TEMA :</p>
        <input
          class="form-control"
          type="text"
          name="tema"
          id="tema"
          maxlength="100"
          value="{{ databeranda.tema}}"
          required
        />
      </div>
      <div class="form-group">
        <p>AYAT EMAS :</p>
        <input
          class="form-control"
          type="text"
          name="ayatemas"
          id="ayatemas"
          maxlength="500"
          value="{{ databeranda.ayatemas}}"
          required
        />
      </div>
      <div class="form-group">
        <p>ISI AYAT EMAS :</p>
        <textarea class="form-control"
        type="text"
        name="isi_ayatemas"
        id="isi_ayatemas"
        maxlength="1000"
        required>{{ databeranda.isi_ayatemas}}</textarea>
      </div>
      <br />
      <br />
      <button class="btn btn-success" type="submit">SUBMIT</button>
      <a class="btn btn-warning" href="{% url 'beranda' %}">KEMBALI</a>
    </form>
  </div>
</div>
</div>
{% endblock %}
