{% extends "templates/base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    {% if messages %} {% for message in messages %}
    <p class="alert alert-warning alert-dismissible fade show" role="alert"> {{ message }}</p>
    {% endfor %} {% endif %}
    <div class="card shadow-lg">
      <div class="card-header bg-teal">
        <div class="text-center">
          <h2>DATA RENUNGAN</h2>
        </div>
      </div>
      <div class="card-body" style="background-color: whitesmoke">

        <a class="btn btn-info" href="{% url 'tambah_renungan'  %}" class="nav-link">
          <i class="nav-icon fas fa-plus"> TAMBAH RENUNGAN</i>
        </a>
        <br />
        <br />
        <table id="example1" class="table table-bordered table-striped table-responsive text-center">
          <thead class="bg-secondary">
            <tr>
              <th>ID</th>
              <th class="col-4">JUDUL RENUNGAN</th>
              <th>ISI RENUNGAN</th>
              <th>TANGGAL</th>
              <th class="col-4">ACTION</th>
            </tr>
          </thead>
          <tbody>
            {% for dr in data_renungan %}
            <tr>
              <td>{{ dr.id_renungan }}</td>
              <td class="text-left">{{ dr.judul_renungan }}</td>
              <td class="text-left">{{ dr.isi_renungan }}</td>
              <td>{{ dr.tanggal_renungan}}</td>

              <td>
                <a class="btn btn-warning" a href="{% url 'update_renungan' dr.id_renungan %}">
                  <i class="fas fa-pencil-alt"></i>UPDATE</a>|
                <a class="btn btn-danger" onclick="return confirm('Apakah anda ingin menghapus data ini?')"
                  href="{% url 'delete_renungan' dr.id_renungan %}">
                  <i class="fas fa-trash"></i>DELETE</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>


      </div>
      </table>
    </div>
    {% endblock %}