{% extends "base.html" %} {% block content %}
{% if messages %} {% for message in messages %}
<p>{{ message }}</p>
{% endfor %} {% endif %}

<div class="card">
      <div class="card-body">
        <div class="card shadow-lg">
          <div class="card-header bg-primary">
            <div class="text-center">
              <h2>UPDATE RENUNGAN</h2>
            </div>
          </div>
          <div class="card-body" style="background-color:whitesmoke">


          <form action="{% url 'postupdate_renungan' data_renungan.id_renungan %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <p>ID RENUNGAN :</p>
              <input class="form-control" type="text" name="id_renungan" maxlength="50" id="id_renungan"
                value="{{ data_renungan.id_renungan }}" readonly />
            </div>
            <div class="form-group">
              <p>JUDUL RENUNGAN :</p>
              <input class="form-control" type="text" name="judul_renungan" maxlength="100" id="judul_renungan"
                value="{{ data_renungan.judul_renungan }}" required />
            </div>
            <div class="form-group">
              <p>AYAT RENUNGAN :</p>
              <input class="form-control" type="text" name="ayat_renungan" maxlength="100" id="ayat_renungan"
                value="{{ data_renungan.ayat_renungan }}" require />
            </div>
            <div class="form-group">
              <p>ISI RENUNGAN :</p>
              <textarea class="form-control" type="text" name="isi_renungan" maxlength="500" id="isi_renungan"
                required>{{ data_renungan.isi_renungan }}</textarea>
            </div>
            <div class="form-group">
              <p>TANGGAL RENUNGAN :</p>

              <input class="form-control" type="date" name="tanggal_renungan" id="tanggal_renungan"
                value="{{ data_renungan.tanggal_renungan|date:'Y-m-d' }}" required />
            </div>
            <br />
            <br />
            <button class="btn btn-success" type="submit">Simpan</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}